.head{
    background-color: #cfcccc;
    border-radius: 8px;
    margin-top:2px;

}
.body{
    background-color: #f7f5f5;
    border-radius: 8px;
   
}
.img{
    margin:5px;
}
h3{
    margin-bottom: 6px;
}
.head h5{
    color: white;
}
