.navb{
    background-color: #15174f;
    padding-top: 4.6px;
    padding-bottom: 4.6px;
    margin-bottom:0px;
}
.nvitem{
    border: 2px solid #cf2198;
    border-radius:4px;
    background-color: #cf2198;
}